/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
  font:
    normal 1.125rem/160% "PT Sans",
    sans-serif;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* ===== Numéro 3a ===== */
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

/* ===== Numéro 3b ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font:
    700 2.5rem "Nunito",
    sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  color: #444;
}
/* ===== Numéro 3c ===== */

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

/* ===== Numéro 3d ===== */

.menu a {
  color: #000;
  font:
    uppercase bold 0.875rem "PT Sans",
    sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  /*propriété non raccourcis*/
  text-decoration: none;
  border: transparent solid 2px;
}

/* ===== Numéro 3e ===== */

.menu a:hover {
  border: #000 solid 2px;
}

/* ===== Numéro 4a ===== */

.hero {
  background: url("../images/hero.jpg") no-repeat center right/cover;
}

/* ===== Numéro 4b ===== */
.hero .wrapper {
  display: flex;
  min-height: 650px;
  flex-direction: column;
  justify-content: center;
}

/* ===== Numéro 4c ===== */
.hero .contenu {
  max-width: 50%;
  color: #fff;
}

.hero h1 {
  font:
    100 6.25rem/100% Nunito,
    sans-serif;
  margin: 0 0 20px;
  color: #f2545b;
}
/* ===== Numéro 5c ===== */

.athletes {
  padding: 100px 0;
}

/* ===== Numéro 5a ===== */

.athletes h2 {
  font:
    bold 3.125rem/0.05em Nunito,
    sans-serif;
  margin: 0 0 50px;
}

/* ===== Numéro 5b ===== */

.athletes p {
  margin: 0 0 50px;
}

/* ===== Numéro 5d ===== */
.athletes-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {
  max-width: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
  grid-column: span 2;
  grid-row: span 2;
}

/* ===== Numéro 6a ===== */
footer {
}

footer .wrapper {
}

/* ===== Numéro 6b ===== */
/*
.menu-social {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
*/

/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {
}

/* ===== Numéro 6d ===== */
/*
.menu-social a:hover {
    background: gray;
}
*/
